body{
    font-size: 12px;
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}
.ts-nav{
    background-color: #3aa7e7;
    -webkit-box-shadow: inset 0 1px rgba(255,255,255,.18);
    -moz-box-shadow: inset 0 1px rgba(255,255,255,.18);
    box-shadow: inset 0 1px rgba(255,255,255,.18);
    background-color: #394b66;
    background-image: -webkit-linear-gradient(bottom, #374862, #465d7e);
    background-image: -moz-linear-gradient(bottom, #374862, #465d7e);
    background-image: -o-linear-gradient(bottom, #374862, #465d7e);
    background-image: -ms-linear-gradient(bottom, #374862, #465d7e);
    background-image: linear-gradient(to top, #374862, #465d7e);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#374862', endColorstr='#465d7e', GradientType=0)
    height:60px;
    border-radius: 0px;
    border: 0px;
}
.navbar .ts-nav .brand{ margin:0;padding: 0;}
.logo{
    background: url(../images/logo.png) no-repeat left;width:300px;height:60px;overflow: hidden; margin:0;padding: 0;
}
.logo a{text-indent: -555px;display: block;width:300px;overflow: hidden;height:60px;}
.ts-nav .nav li{}
.ts-nav .nav li a{}
.ts-nav .nav li.active a{
    background-color: #383e4c;
    -webkit-box-shadow: inset 0 1px rgba(255,255,255,.1);
    -moz-box-shadow: inset 0 1px rgba(255,255,255,.1);
    box-shadow: inset 0 1px rgba(255,255,255,.1);
    color: #fff;
    text-shadow: 0;

}
.ts-nav .nav>li>a:focus, .ts-nav .nav>li>a:hover {
    background-color: #383e4c;
    /*-webkit-box-shadow: inset 0 1px rgba(255,255,255,.1);
    -moz-box-shadow: inset 0 1px rgba(255,255,255,.1);
    box-shadow: inset 0 1px rgba(255,255,255,.1);*/
    color: #fff;
    text-shadow: 0;
}
.ts-nav .nav > li > a {
    text-shadow: 0 0px 0 #ffffff;
    padding: 10px 8px 10px;
}
.ts-nav .nav li label i{
    font-size: 30px;color: #ffffff;
}

.ts-nav .nav >li>a{
    text-align: center;
    color: #ffffff;
}
.ts-nav .nav >li>a>i{
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "alpha(Opacity=100)";
    font-size: 22px;
    display: inline-block;
    width: 100%;
}
.ts-nav .nav >li.dropdown>a{
    margin-top: 20px;
    padding-top: 0px;
    text-align: center;
    color: #ffffff;
}
.ts-nav .nav >li.dropdown>a>i{
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "alpha(Opacity=100)";
    font-size: 14px;
    display: inline;
}
.ts-nav .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #fff!important;
    border-bottom-color: #fff!important;
}

.ts-nav .nav > .active > a, .ts-nav .nav > .active > a:hover, .ts-nav .nav > .active > a:focus{
    color: #fff;
    background-color: #383e4c;
}
.ts-nav .nav li.dropdown.open > .dropdown-toggle, .ts-nav .nav li.dropdown.active > .dropdown-toggle, .ts-nav .nav li.dropdown.open.active > .dropdown-toggle{
    background-color: transparent;
    color: #f1f3f6;
}
.ts-nav .nav>li.dropdown>a:focus, .ts-nav .nav>li.dropdown>a:hover {
    background-color: transparent;
    color: #fff;
    text-shadow: 0;
}


.margin-right40{
    margin-right: 40px;
}
.margin-right5{
    margin-right: 5px;
}
.margin5{
    margin: 5px;
}
.margin-top5{
    margin-top: 5px;
}
.margin-top20{
    margin-top: 20px;
}
.margin-top-reverse30{
    margin-top: -30px
}
.margin-bottom5{
    margin-bottom: 5px;
}
.margin-bottom8{
    margin-bottom: 8px;
}
.margin-bottom20{
    margin-bottom: 20px;
}
.margin-left10{
    margin-left: 10px
}
.margin-left20{
    margin-left: 20px
}
.margin-left25{
    margin-left: 25px
}
.margin-left-reverse8{
    margin-left: -8px
}
.padding-left10{
    padding-left:10px;
}
.padding-left20{
    padding-left:20px;
}
.padding-right5{
    padding-right:5px;
}
.padding-right20{
    padding-right:20px;
}
.padding-right50{
    padding-right:50px;
}
.padding-bottom10{
    padding-bottom:10px;
}
.nopadding {
    padding: 0 !important;
}
.nomargin {
    margin: 0 !important;
}

.ts-progress{
    height: 8px;
    width: 76%;
	position:absolute\9;
	z-index:-1\9;
    width: 74%\9;
}
.ts-wizard{
    height: 8px;

    margin-top:-32px
}
.ts-wizard .badge {
    padding-left: 6px;
    padding-right: 6px;
	padding:8px 6px 0 6px\9;
	background:url(../images/badge_gray.png) no-repeat\0;
	width:18px\9;
	height:26px\9;
}

.ts-wizard .badge-warning {
	background:url(../images/badge_orange.png) no-repeat\0;
	width:18px\9;
	height:26px\9;
}

.ts-wizard ul li.wizard-nav-item{
    float: left;
    width: 25%;
}
.ts-wizard ul li a{
    cursor: pointer;
}
.ts-wizard ul li span.wizard-nav-text{
    display: block;
}
.ts-wizard ul li span.active{
    color: #F89406;
}
.ts-wizard .nav > li > a:hover,
.ts-wizard .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    color: #F89406;
}

/* Widgets */
.widget-box {
   /* background: none repeat scroll 0 0 #F9F9F9;*/
    border-top: 1px solid #CDCDCD;
    border-left: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    clear: both;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}
.widget-box.widget-calendar, .widget-box.widget-chat {
    overflow:hidden !important;
}
.accordion .widget-box {
    margin-top: -2px;
    margin-bottom: 0;
    border-radius: 0;
}
.widget-box.widget-plain {
    background: transparent;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
}

.widget-title, .modal-header, div.dataTables_wrapper .ui-widget-header, .ui-dialog .ui-dialog-titlebar {
    background-color: #efefef;
    background-image: -webkit-linear-gradient(bottom, #f6f6f6, #fafafa);
    background-image: -moz-linear-gradient(bottom, #f6f6f6, #fafafa);
    background-image: -o-linear-gradient(bottom, #f6f6f6, #fafafa);
    background-image: -ms-linear-gradient(bottom, #f6f6f6, #fafafa);
    background-image: linear-gradient(to top, #f6f6f6, #fafafa);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #CDCDCD;
    height: 35px;
}
.widget-title .nav-tabs {
    border-bottom: 0 none;
}
.widget-title .nav-tabs li a {
    border-bottom: medium none !important;
    border-left: 1px solid #DDDDDD;
    border-radius: 0 0 0 0;
    border-right: 1px solid #DDDDDD;
    border-top: medium none;
    color: #999999;
    margin: 0;
    outline: medium none;
    padding: 9px 10px 8px;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}
.widget-title .nav-tabs li:first-child a{
    border-left: medium none !important;
}
.widget-title .nav-tabs li a:hover {
    background-color: transparent !important;
    border-color: #D6D6D6;
    border-width: 0 1px;
    color: #666666;
}

.widget-title .nav-tabs li.active a {
    background-color: #F9F9F9 !important;
    color: #444444;
}
.widget-title span.icon {
    /*border-right: 1px solid #cdcdcd;*/
    padding: 7px 10px 7px 11px;
    float: left;
    /*opacity: .7;*/
}
.widget-title h5 {
    color: #666666;
    text-shadow: 0 1px 0 #ffffff;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 7px;
    line-height: 20px;
    margin: 0;
}
.widget-title .buttons {
    float: right;
    margin: 8px 10px 0 0;
}
.widget-title .label {
    padding: 3px 5px 2px;
    float: right;
    margin: 9px 15px 0 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset, 0 1px 0 #ffffff;
}
.widget-calendar .widget-title .label {
    margin-right: 190px;
}

.widget-content {
    padding: 12px 15px;
    border-bottom: 1px solid #cdcdcd;
}
.widget-box.widget-plain .widget-content {
    padding: 12px 0 0;
}
.widget-box.collapsible .collapse.in .widget-content {
    border-bottom: 1px solid #CDCDCD;
}

.ui-dialog {
    padding: 0;
}
.ui-dialog .ui-dialog-title {
    font-size: 14px;
    margin: 4px 0 0;
}
.ui-widget-overlay {
    position: fixed;
}

.widget-title .buttons > .btn {
    width: 11px;
    white-space: nowrap;
    overflow: hidden;
}

/*bootstrap custom start*/
.table th {
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(bottom, #f6f6f6, #fafafa);
    background-image: -moz-linear-gradient(bottom, #f6f6f6, #fafafa);
    background-image: -o-linear-gradient(bottom, #f6f6f6, #fafafa);
    background-image: -ms-linear-gradient(bottom, #f6f6f6, #fafafa);
    background-image: linear-gradient(to top, #f6f6f6, #fafafa);
    font-weight: normal;
}
.table-bordered th, .table-bordered td {
    border-left: 1px solid #ddd;
}

.form-horizontal .control-group {
    margin-bottom: 12px;
}

.help-block, .help-inline{
	color:#999999;
}
/*bootstrap custom end*/

/*jquery-ui custom start*/
.ui-multiselect{
    padding:6px 0px 5px 8px;
}
.ui-corner-all>input[type="checkbox"]{
    margin:-3px 3px 0 0;
}


/*jquery-ui custom end*/

/*Font Awesome custom start*/
.btn>[class*="icon-"]:first-child,a>[class*="icon-"]:first-child,span>[class*="icon-"]:first-child  {
    font-size: 14px;
}
/*Font Awesome custom end*/




/* ui.jqgrid.css start*/
.ui-jqgrid .ui-jqgrid-htable th{
    height:30px;
}
.ui-jqgrid .ui-jqgrid-view{
    font-size:12px;
}
.ui-jqgrid tr.jqgrow td{
    height:28px;
}
.ui-jqgrid .ui-jqgrid-htable th div>[type*="checkbox"]:first-child{
    margin:0 0 2px 0;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
    -webkit-border-radius:0px;
    -moz-border-radius:4px;
    border-radius:0px;
}
/* ui.jqgrid.css end*/



/* my jqgrid.css start  自己写的*/
.ui-jqgrid .ui-jqgrid-bdiv td>[type*="checkbox"]{
    margin:0 0 3px 0;
    margin:0 \9;
}
.ui-jqgrid .ui-jqgrid-bdiv table{
    border-collapse:separate;
}
/* my jqgrid.css end 自己写的*/



/* jquery ui.css  start*/
.ui-widget-content{
    border:1px solid #dddddd;
    color:#333333;
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}

.ui-state-default ,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{
    font-size:12px;
    font-weight:normal;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    background: url(../images/table_th.png) repeat-x;
}
.ui-state-default :hover{
    background:#ededed;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    background-color: #f8f8f8;
    border-color:#dddddd #dddddd #c8c8c8 #dddddd ;
    background-repeat: repeat-x;
    background-image:url("");
}

/* jquery ui.css end*/

/* ---------------------------------------------------------------------------- */

/* iconstyle start */
.iconStyle{
	cursor:pointer
}
.iconStyle:hover,.iconStyle:focus{
	color:black;
}
/* iconstyle end */





#breadcrumbs {
	position: relative;
	z-index: -2;
	border-bottom: 1px solid #e5e5e5;
	background-color: #f5f5f5;
	min-height: 28px;
	line-height: 28px;
	padding: 0 12px 0 0;
	display: block;
	background-image: linear-gradient(to bottom, #ffffff, #f4f4f6);
}
.breadcrumb {
	background-color: transparent;
	display: inline-block;
	margin: 5px 22px 0 15px;
	padding: 0;
	font-size: 12px;
	color: #333;
	border-radius: 0;
}



/* 过滤条件 */
.query-div{
    padding-top:15px;
}
.query-div label:first-child{
    margin:0 5px 0 0;
}
.query-div label{
    margin:0 5px 0 20px;
}
.query-div button{
	margin-left:10px;
}

.query-div label[class^=checkbox]{
	margin:0 5px 0 0px;
}
.query-div .btn-group{
	margin-left:10px;
}
button[class^=ui-multiselect]{
	margin-left:0px;
}
.query-div .nav-pills > li > a{
	padding:5px 12px;
	margin-left:2px;
	cursor:pointer;
}
.query-div .nav-pills > li {
	border-right:1px solid #ddd;
}
.query-div .nav-pills > li.noBorder {
	border-right:0;
}
.query-div .nav-pills{
	margin:0;
}
.pull-right{
	float:right;
}
.btn:focus{
	outline: none;
}



/* jqgrid */
.ui-jqgrid .ui-jqgrid-bdiv tbody > tr:nth-child(odd) > td{
	background-color: #fcfcfc;
} 
.ui-jqgrid .ui-jqgrid-bdiv .ui-state-highlight>td{
	background: #d5e5ee!important;
}
.ui-jqgrid .ui-jqgrid-bdiv tbody tr:hover>td{
	background: #e6f1fe;
}

.ui-jqgrid .ui-jqgrid-bdiv tbody tr>td{
	cursor:default;
}
.ui-jqgrid .ui-jqgrid-htable th.ui-th-column{
	background-color: #f8f8f8;
	background-image: -webkit-linear-gradient(bottom, #f6f6f6, #fbfbfb);
	background-image: -moz-linear-gradient(bottom, #f6f6f6, #fbfbfb);
	background-image: -o-linear-gradient(bottom, #f6f6f6, #fbfbfb);
	background-image: -ms-linear-gradient(bottom, #f6f6f6, #fbfbfb);
	background-image: linear-gradient(to top, #f6f6f6, #fbfbfb);
	font-weight: normal;
}
.ui-state-default :hover {
	background: #f6f6f6;
}
.ui-jqgrid .ui-jqgrid-htable th.ui-th-column:hover{
	background-image: -webkit-linear-gradient(bottom, #f4f4f4, #f5f5f5)!important;
	background-image: -moz-linear-gradient(bottom, #f4f4f4, #f5f5f5)!important;
	background-image: -o-linear-gradient(bottom, #f4f4f4, #f5f5f5)!important;
	background-image: linear-gradient(to top, #f4f4f4, #f5f5f5)!important;
}


.choose-window-body{
	width:100%;
	background:#fff;
	height:230px;
	overflow:auto;
	border:1px solid #ddd;
	position: relative;
}
.choose-window-body .checkbox{
	line-height:22px;
	margin-left:13px;
}
.choose-window-body ul{
	margin: 0 0 9px 7px;
	list-style:none;
}
.choose-window-body ul li{
	position: relative;
}
.choose-window-body ul li:before {
	display: inline-block;
	content: '';
	position: absolute;
	top: 10px;
	left: -5px;
	width: 18px;
	height: 0px;
	border-top: 1px dotted rgb(103, 178, 221);
	z-index: 1;
}