

#sidebar>#nav-search {
    position: static;
    background-color: #fafafa;
    border-bottom: 1px solid #DDD;
    text-align: center;
    height: 35px;
    padding-top: 5px
}

#sidebar>#nav-search #nav-search-input {
    width: 130px !important;
    border-radius: 0 !important;
    max-width: 130px !important;
    opacity: 1 !important
}

#sidebar>#nav-search #nav-search-input+.dropdown-menu {
    text-align: left
}

#sidebar>#nav-search #nav-search-icon {
    border: 0;
    border-radius: 0;
    padding: 0 3px
}

#sidebar>#nav-search.menu-min #nav-search .form-search {
    position: absolute;
    left: 5px;
    z-index: 14
}

#sidebar>#nav-search.menu-min #nav-search #nav-search-input {
    width: 0 !important;
    max-width: 0 !important;
    opacity: 0 !important;
    filter: alpha(opacity=0) !important
}

#sidebar>#nav-search.menu-min #nav-search #nav-search-input:hover, #sidebar>#nav-search.menu-min #nav-search #nav-search-input:focus, #sidebar>#nav-search.menu-min #nav-search #nav-search-input:active {
    width: 130px !important;
    max-width: 130px !important;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important
}

#sidebar>#nav-search.menu-min #nav-search #nav-search-input:hover ~ #nav-search-icon, #sidebar>#nav-search.menu-min #nav-search #nav-search-input:focus ~ #nav-search-icon, #sidebar>#nav-search.menu-min #nav-search #nav-search-input:active ~ #nav-search-icon {
    border: 0;
    border-radius: 0;
    padding: 0 3px
}

#sidebar>#nav-search.menu-min #nav-search:hover #nav-search-input {
    width: 130px !important;
    max-width: 130px !important;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important
}

#sidebar>#nav-search.menu-min #nav-search:hover #nav-search-input ~ #nav-search-icon {
    border: 0;
    border-radius: 0;
    padding: 0 3px
}

#sidebar>#nav-search.menu-min #nav-search #nav-search-icon {
    border: 1px solid;
    border-radius: 32px;
    background-color: #FFF;
    padding: 0 5px
}

#sidebar {
    width: 189px;
    position: absolute;
    margin-left: 0;
    margin-top: 0;
    border-right: 1px solid #ccc;
    background-color: #FFF
}

#sidebar:before {
    content: "";
    display: block;
    width: 189px;
    position: fixed;
    bottom: 0;
    top: 0;
    z-index: -1;
    background-color: #f2f2f2;
    border-right: 1px solid #ccc
}

#sidebar.fixed {
    position: fixed;
    z-index: 14
}

li [class^="icon-"], li [class*=" icon-"], .nav-list li [class^="icon-"], .nav-list li [class*=" icon-"] {
    width: auto
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none
}

.nav-list>li>a, .nav-list .nav-header {
    margin: 0
}

.nav-list>li {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    border-top: 1px solid #fcfcfc;
    border-bottom: 1px solid #e5e5e5;
    position: relative
}

.nav-list>li:first-child {
    border-top: 0
}

.nav-list>li>a {
    display: block;
    height: 38px;
    line-height: 36px;
    padding: 0 16px 0 7px;
    background-color: #f9f9f9;
    color: #585858;
    text-shadow: none !important;
    font-size: 12px;
    text-decoration: none
}

.nav-list>li>a>[class*="icon-"]:first-child {
    display: inline-block;
    vertical-align: middle;
    min-width: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: normal
}

.nav-list>li>a:focus {
    background-color: #f9f9f9;
    color: #1963aa
}

.nav-list>li>a:hover {
    background-color: #FFF;
    color: #1963aa
}

.nav-list>li>a:hover:before {
    display: block;
    content: "";
    position: absolute;
    top: -1px;
    bottom: 0;
    left: 0;
    width: 3px;
    max-width: 3px;
    overflow: hidden;
    background-color: #3382af
}

.nav-list>li>a .arrow {
    display: inline-block;
    width: 14px !important;
    height: 14px;
    line-height: 14px;
    text-shadow: none;
    font-size: 18px;
    position: absolute;
    right: 9px;
    top: 11px;
    padding: 0;
    color: #666
}

.nav-list>li a:hover>.arrow, .nav-list>li.active>a>.arrow, .nav-list>li.open>a>.arrow {
    color: #1963aa
}

.nav-list>li.separator {
    height: 3px;
    background-color: transparent;
    position: static;
    margin: 1px 0;
    box-shadow: none
}

.nav-list>li.open>a {
    background-color: #fafafa;
    color: #1963aa
}

.nav-list>li.active {
    background-color: #fff
}

.nav-list>li.active>a, .nav-list>li.active>a:hover, .nav-list>li.active>a:focus, .nav-list>li.active>a:active {
    background-color: #fff;
    color: #0b6cbc;
    font-weight: bold;
    font-size: 12px
}

.nav-list>li.active>a>[class*="icon-"] {
    font-weight: normal
}

.nav-list>li.active>a:hover:before {
    display: none
}

.nav-list>li.active>a:after {
    display: inline-block;
    content: "";
    position: absolute !important;
    right: 0;
    top: 4px;
    border: 8px solid transparent;
    border-width: 14px 10px;
    /*border-right-color: #0b6cbc*/
}

.nav-list>li.active>a.dropdown-toggle:after {
    border-width: 12px 7px;
    top: 6px
}

.nav-list>li.active.no-active-child>a:after {
    display: inline-block !important
}

.nav-list>li.active.open>a:after {
    display: none
}

.nav-list>li.active:after {
    display: inline-block;
    content: "";
    position: absolute;
    right: -2px;
    top: -1px;
    bottom: 0;
    border-right: 2px solid #0b6cbc
}

.nav-list>li.open {
    border-bottom-color: #e5e5e5
}

.nav-list>li.active.open>.submenu>li.active>a:after {
    display: inline-block;
    content: "";
    position: absolute !important;
    right: 0;
    top: 4px;
    border: 8px solid transparent;
    border-width: 14px 10px;
    /*border-right-color: #0b6cbc;*/
    top: 2px
}

.nav-list>li.active .submenu {
    display: block
}

.nav-list>li .submenu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #fff;
    border-top: 1px solid #e5e5e5
}

.nav-list>li .submenu>li {
    margin-left: 0;
    position: relative
}

.nav-list>li .submenu>li>a {
    display: block;
    position: relative;
    color: #616161;
    padding: 7px 0 8px 37px;
    margin: 0;
    border-bottom: 1px dotted #e4e4e4
}

.nav-list>li .submenu>li>a:focus {
    text-decoration: none
}

.nav-list>li .submenu>li>a:hover {
    text-decoration: none;
    color: #4b88b7
}

.nav-list>li .submenu>li:last-child>a {
    border-bottom: 0
}

.nav-list>li .submenu>li:first-child>a {
    border-top: 1px solid #fafafa
}

.nav-list>li .submenu>li.active>a {
    color: #0b6cbc
}

.nav-list>li .submenu>li:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 9px;
    left: 21px;
    top: 17px;
    border-top: 1px dashed #b1c9e0
}

.nav-list>li .submenu>li:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 18px;
    width: 0;
    border-left: 1px dashed #b1c9e0
}

.nav-list>li .submenu>li a>[class*="icon-"]:first-child {
    display: none;
    font-size: 12px;
    font-weight: normal;
    width: 22px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    position: absolute;
    left: 8px;
    top: 10px;
    z-index: 1;
    background-color: #FFF
}

.nav-list>li .submenu>li.active>a>[class*="icon-"]:first-child, .nav-list>li .submenu>li:hover>a>[class*="icon-"]:first-child {
    display: inline-block
}

.nav-list>li .submenu>li.active>a>[class*="icon-"]:first-child {
    color: #c86139
}

#sidebar-collapse {
    border-bottom: 1px solid #e0e0e0;
    background-color: #f3f3f3;
    text-align: center;
    padding: 3px 0;
    position: relative
}

#sidebar-collapse>[class*="icon-"] {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    color: #aaa;
    border: 1px solid #bbb;
    padding: 0 5px;
    line-height: 18px;
    border-radius: 16px;
    background-color: #fff;
    position: relative
}

#sidebar-collapse:before {
    content: "";
    display: inline-block;
    height: 0;
    border-top: 1px solid #e0e0e0;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 13px
}

#sidebar-shortcuts {
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
    text-align: center;
    line-height: 37px;
    max-height: 40px;
    margin-bottom: 0
}

#sidebar-shortcuts-large {
    padding-bottom: 4px
}

#sidebar-shortcuts-large>.btn>[class*="icon-"] {
    font-size: 110%
}

#sidebar-shortcuts-mini {
    display: none;
    font-size: 0;
    width: 42px;
    line-height: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #fff
}

#sidebar-shortcuts-mini>.btn {
    border-width: 0 !important;
    font-size: 0;
    line-height: 0;
    padding: 8px !important;
    margin: 0 1px;
    border-radius: 0 !important;
    opacity: .85
}

#sidebar.menu-min {
    width: 42px
}

#sidebar.menu-min:before {
    width: 42px
}

#sidebar.menu-min+#main-content {
    margin-left: 43px
}

#sidebar.menu-min+#main-content #breadcrumbs.fixed {
    left: 43px
}

.menu-min .nav-list>li>a {
    position: relative
}

.menu-min .nav-list>li>a>span {
    display: none;
    position: absolute;
    left: 41px;
    top: -2px;
    width: 158px;
    height: 39px;
    line-height: 38px;
    background-color: #f5f5f5;
    z-index: 121;
    box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    padding-left: 12px
}

.menu-min .nav-list>li>a.dropdown-toggle>span {
    box-shadow: none;
    border: 0;
    top: -1px;
    left: 42px;
    width: 163px;
    border-bottom: 1px solid #ddd
}

.menu-min .nav-list>li>a .arrow {
    display: none
}

.menu-min .nav-list>li>a:hover:before {
    width: 2px
}

.menu-min .nav-list>li:hover>a {
    color: #1963aa
}

.menu-min .nav-list>li:hover>a>span {
    display: block
}

.menu-min .nav-list>li.active>a>span {
    border-left-color: #1963aa
}

.menu-min .nav-list>li.open>a {
    background-color: #fafafa;
    color: #585858
}

.menu-min .nav-list>li.open.active>a {
    background-color: #fff
}

.menu-min .nav-list>li.open:hover>a {
    color: #1963aa
}

.menu-min .nav-list>li.active>a:after {
    border-width: 10px 6px;
    top: 8px
}

.menu-min .nav-list>li.active.open>a:after {
    display: block
}

.menu-min .nav-list>li.active.open>.submenu>li.active>a:after {
    display: none
}

.menu-min .nav-list>li>ul.submenu {
    background: #fff;
    position: absolute;
    z-index: 120;
    left: 41px;
    top: -2px;
    width: 175px;
    border: 1px solid #ccc;
    box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
    padding-top: 40px;
    padding-bottom: 2px;
    display: none !important
}

.menu-min .nav-list>li>ul.submenu li:before, .menu-min .nav-list>li>ul.submenu li:after {
    display: none
}

.menu-min .nav-list>li>ul.submenu li>a {
    border-left: none;
    margin-left: 0;
    padding-left: 24px
}

.menu-min .nav-list>li>ul.submenu li>a>[class*="icon-"]:first-child {
    width: 16px
}

.menu-min .nav-list>li>ul.submenu li.active>a>[class*="icon-"]:first-child, .menu-min .nav-list>li>ul.submenu li:hover>a>[class*="icon-"]:first-child {
    left: 7px
}

.menu-min .nav-list>li:hover>ul.submenu {
    display: block !important
}

.menu-min .nav-list>li.active>ul.submenu {
    border-left-color: #1963aa
}

.menu-min #sidebar-shortcuts {
    position: relative
}

.menu-min #sidebar-shortcuts-mini {
    display: block
}

.menu-min #sidebar-shortcuts-large {
    display: none;
    position: absolute;
    left: 42px;
    top: -1px;
    width: 175px;
    z-index: 20;
    background-color: #fff;
    box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    padding: 0 2px 3px
}

.menu-min #sidebar-shortcuts:hover #sidebar-shortcuts-large {
    display: block
}

.menu-min #sidebar-collapse:before {
    left: 5px;
    right: 5px
}

.menu-min #sidebar-collapse>[class*="icon-"] {
    font-size: 12px;
    padding: 0 4px;
    line-height: 15px;
    border-width: 1px;
    border-color: #aeaeae
}

#main-content {
    margin-left: 198px;
    margin-right: 20px;
    margin-top: 5px;
    min-height: 100%;
    padding: 0;
}